body {
    background-color: lightblue;
}

table {
    background-color: skyblue;
    width: 100%;
    border-color: darkblue;
}

table tr:nth-child(even) {
    background-color: lightblue;
}

table td, table th {
    border: 1px solid darkgray;
    padding: 4px;
}

table th {
    background-color: mediumblue;
    color: skyblue;
}

#actualsTable tr:nth-child(even) {
    background-color: #baedb2; /* light green */
}
  
#actualsTable tr:nth-child(odd) {
    background-color: #dbedd8; /* lighter green */
}

.budget {
    width: 100px;
    text-align: right;
    background-color: lightblue;
}  

.category {
    font-weight: bold;
}

.actual {
    width: 100px;
    text-align: right;
    background-color: #baedb2;
}

.diff {
    width: 100px;
    text-align: right;
    background-color: palegoldenrod;   
}

h5, h6 {
    margin-left: 10px;
}

.mike {
    background-color: lightgreen !important;
    color: darkgreen !important;
}

.maura {
    background-color: lightblue !important;
    color: darkblue !important;
}

#errorMsg {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

#beginDate, #endDate {
    width: 115px;
    margin-right: 10px;
    margin-left: 10px;
}

#accountName {
    font-weight: bold;
    text-decoration: underline;
}

#acctsMsg {
    color: red;
    font-weight: bold;
    margin: 20px;
}

#gb {
    background-color: lightblue;
}

#gb h1 {
    margin: 10px;
}

#gblimo {
    background-color: darkviolet;
    border-color: darkviolet;
    color: white;
}

#gbpayperiodnote {
    width: 300px;
}

#gbspendingnote {
    width: 300px;
}

#gblimo, #investmentsindex, #assets, #buckets, #moveBuckets, #actuals, #budget, #budgetactuals, #spendingMike, #spendingMaura, #mauraSpending, #mikeSpending, #trips {
    margin: 10px;
}

#saveNewBalances {
    margin: 10px;
}

/* make transactions just uploaded more visible */
.newtransaction {
    color: red;
    font-weight: bold;
}

/* margin for form-row */
.form-row {
    margin: 20px;
}

/* background color when adding a new transaction */
#addTransaction {
    background-color: rgb(206, 145, 239);
}

.newtransinput {
    background-color: rgb(232, 200, 241);
    width: 100%;
}

.tripInput {
    background-color: rgb(232, 200, 241) !important;
    /* border-color: rgb(232, 200, 241) !important; */
    border-color: none !important;
    border-radius: 6px !important;
    border-style: none !important;
    padding: 6px 12px !important;
}

.newtranslabel {
    width: 100px;
    font-weight: bold;
}

.tripLabel {
    width: 500px;
    font-weight: bold;
}

.processTrip {
    margin-top: 20px;
}

.uploadTollsButton, .tallyTollsButton {
    height: 23px;
    font-size: 15px !important;
    padding: 2px !important;
    margin-right: 10px;
}

/* transactions that may be duplicates have a yellow background color */
.dupMaybe {
    background-color: yellow !important;
}

#backToAccount, #uploadTransactions, #addTransaction {
    margin-left: 10px;
}