body {
    background-color: lightblue;
}

table {
    background-color: skyblue;
    width: 100%;
    border-color: darkblue;
}

table tr:nth-child(even) {
    background-color: lightblue;
}

table td, table th {
    border: 1px solid darkgray;
    padding: 4px;
}

table th {
    background-color: mediumblue;
    color: skyblue;
}

#actualsTable tr:nth-child(even) {
    background-color: #baedb2; /* light green */
}
  
#actualsTable tr:nth-child(odd) {
    background-color: #dbedd8; /* lighter green */
}

.budget {
    width: 100px;
    text-align: right;
    background-color: lightblue;
}  

.category {
    font-weight: bold;
}

.actual {
    width: 100px;
    text-align: right;
    background-color: #baedb2;
}

.diff {
    width: 100px;
    text-align: right;
    background-color: palegoldenrod;   
}

h5, h6 {
    margin-left: 10px;
}

.image-button-href {
    margin-left: 5px;
    margin-right: 25px;
    padding: 0;
    display: inline-block;
    text-decoration: none;
    border: none;
    background: none;
}

.image-button {
    display: block;
    max-width: 100%;
    height: 75px;
    margin: 0;
    padding: 0;
}

.mike {
    background-color: lightgreen !important;
    color: darkgreen !important;
}

.maura {
    background-color: lightblue !important;
    color: darkblue !important;
}

.monthly {
    background-color: violet !important;
    color: purple !important;  
    font-weight: bold !important;  
}

#errorMsg {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

#beginDate, #endDate {
    width: 115px;
    margin-right: 10px;
    margin-left: 10px;
}

#accountName {
    font-weight: bold;
    text-decoration: underline;
}

#acctsMsg {
    color: red;
    font-weight: bold;
    margin: 20px;
}

#gb {
    background-color: lightblue;
}

#gb h1 {
    margin: 10px;
}

#gblimo {
    background-color: darkviolet;
    border-color: darkviolet;
    color: white;
}

#gbpayperiodnote {
    width: 300px;
}

#gbspendingnote {
    width: 300px;
}

#gblimo, #investmentsindex, #assets, #buckets, #moveBuckets, #actuals, #budget, #budgetactuals, #spendingMike, #spendingMaura, #mauraSpending, #mikeSpending, #trips, #monthly {
    margin: 10px;
}

#saveNewBalances {
    margin: 10px;
}

/* make transactions just uploaded more visible */
.newtransaction {
    color: red;
    font-weight: bold;
}

/* margin for form-row */
.form-row {
    margin: 20px;
}

/* background color when adding a new transaction */
#addTransaction {
    background-color: rgb(206, 145, 239);
}

.newtransinput {
    background-color: rgb(232, 200, 241);
    width: 100%;
}

.tripInput {
    background-color: rgb(232, 200, 241) !important;
    /* border-color: rgb(232, 200, 241) !important; */
    border-color: none !important;
    border-radius: 6px !important;
    border-style: none !important;
    padding: 6px 12px !important;
}

.newtranslabel {
    width: 100px;
    font-weight: bold;
}

.tripLabel {
    width: 500px;
    font-weight: bold;
}

.processTrip {
    margin-top: 20px;
}

.uploadTollsButton, .tallyTollsButton {
    height: 23px;
    font-size: 15px !important;
    padding: 2px !important;
    margin-right: 10px;
}

/* transactions that may be duplicates have a yellow background color */
.dupMaybe {
    background-color: yellow !important;
}

#backToAccount, #uploadTransactions, #addTransaction {
    margin-left: 10px;
}

/* transactions table column widths */
.transId, .total_key, .total_keyEdit {
    width: 52px;
}

.transDate, .transDateEdit {
    width: 100px;
}

.clearDate, .clearDateEdit {
    width: 100px;
}

.toFrom, .toFromEdit {
    width: 150px;
}

.amount, .amountEdit, .amtMike, .amtMikeEdit, .amtMaura, .amtMauraEdit, .total_amt, .total_amtEdit, .split_total {
    width: 100px;
}

.category, .categoryEdit {
    width: 150px;
}

.notes, .notesEdit {
    width: 200px;
}

.method, .methodEdit {
    width: 50px;
}

.tracking, .trackingEdit {
    width: 50px;
}

.saveTransaction, .editTransaction, .splitTransaction, .deleteTransaction {
    width: 50px;
}

.editTransaction {
    padding-left: 10px !important;
}

.saveTransaction {
    padding-left: 8px !important;
}

.splitTransaction {
    padding-left: 8px !important;
}

.stmtDate, .stmtDateEdit {
    width: 60px;
}